<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.intelligentfarmbackend.mapper.ProductNoticeMapper">
    <select id="selectNoticeInfoPage" resultType="com.sipc.intelligentfarmbackend.pojo.domain.ProductNotice">
        SELECT *
        FROM product_notice
        <where>
            AND product_id = #{productId}
            <if test="keyWord != null and keyWord != ''">
                AND ((id like concat('%',#{keyWord},'%'))
                OR (resource_factory like concat('%',#{keyWord},'%'))
                OR (resource_person like concat('%',#{keyWord},'%'))
                OR (`name` like concat('%',#{keyWord},'%')))
            </if>
        </where>
        LIMIT #{pageSize} OFFSET ${offset}
    </select>
    <select id="selectAllPlantPages" resultType="com.sipc.intelligentfarmbackend.pojo.domain.ProductNotice">
        SELECT *
        FROM product_notice
        <where>
            <if test="keyWord != null and keyWord != ''">
                AND ((id like concat('%',#{keyWord},'%'))
                OR (resource_factory like concat('%',#{keyWord},'%'))
                OR (resource_person like concat('%',#{keyWord},'%'))
                OR (`name` like concat('%',#{keyWord},'%')))
            </if>
        </where>
    </select>
    <select id="selectAllPlantInfoPage" resultType="com.sipc.intelligentfarmbackend.pojo.domain.ProductNotice">
        SELECT *
        FROM product_notice
        <where>
            <if test="keyWord != null and keyWord != ''">
                AND ((id like concat('%',#{keyWord},'%'))
                OR (resource_factory like concat('%',#{keyWord},'%'))
                OR (resource_person like concat('%',#{keyWord},'%'))
                OR (`name` like concat('%',#{keyWord},'%')))
            </if>
        </where>
        LIMIT #{pageSize} OFFSET ${offset}
    </select>
    <select id="selectAllPlantPageU" resultType="com.sipc.intelligentfarmbackend.pojo.domain.ProductNotice">
        SELECT *
        FROM product_notice
        <where>
            AND product_id = #{productId}
            <if test="keyWord != null and keyWord != ''">
                AND ((id like concat('%',#{keyWord},'%'))
                OR (resource_factory like concat('%',#{keyWord},'%'))
                OR (resource_person like concat('%',#{keyWord},'%'))
                OR (`name` like concat('%',#{keyWord},'%')))
            </if>
        </where>
    </select>
</mapper>
