<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.intelligentfarmbackend.mapper.UserMapper">

    <select id="getSpecialUser" resultType="com.sipc.intelligentfarmbackend.pojo.domain.User">
        SELECT * FROM user
        <where>
            <if test="id != null and  id != '' ">
                AND role_id = #{id}
            </if>
        </where>
    </select>
</mapper>
